body {
    background-color: #fef9e7; /* just temp background-color, can be changed! */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red;
    color: white; */

}

.banner{
    background-image: url('mango-gradient.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div.login{
    text-align: right;
    padding-right: 50px;
}

nav.header li{
    text-align: center;
    list-style-type: none;
    display: inline-flex;
    margin: 1px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    font-size: 18px;
    /* background-color: ; */
    position: relative;
    top: 50px;
    left: 15px;

}
/* nav.header li:hover{
    background-color: ;
}
nav.header li:active{
    background-color: ;
} */


.home{
    position: relative;
    top: 100px;
}

section.description{
    /* color: blue; temp color */
    
}
section.description:hover {
    transform: scale(1.15);
    transition: transform 775ms;
}

section.function{
    /* color: red; temp color */
    text-align: center;
    padding-left: 125px;
    padding-top: 200px;

    display: inline-block;
    border: 2px;
    border-radius: 2px;
    border-style: hidden;
    
}
section.function:hover {
    transform: scale(1.15);
    transition: transform 775ms;
}

section.viewing{
    /* color: red; temp color */
    text-align: center;
    padding-left: 435px;

    display: inline-block;
    border: 2px;
    border-radius: 2px;
    border-style: hidden;
    
}
section.viewing:hover {
    transform: scale(1.15);
    transition: transform 775ms;
}

section.form{
    padding-top: 60px;
}

div.day {
    font-weight: bolder;
    font-size:x-large;
    padding-top: 75px;
}
ul.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    list-style-type: none;
    row-gap: 1px;
}

div.event{
    margin-top: 25px;

    border: 1px;
    border-style: solid;
}

section.viewDetail{
    padding-top: 60px;
}
